* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

@mixin txt($ff, $fst, $fw, $fsize, $lh, $clr, $opac) {
    font-family: $ff;
    font-style: $fst;
    font-weight: $fw;
    font-size: $fsize;
    line-height: $lh;
    color: $clr;
    opacity: $opac;
}

@import "_vars.scss";
$button_bg: #3A68B8;
$button_color: #FFFFFF;
@keyframes flip-in-hor-bottom {
    0% {
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        transform: translateY(-45px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

body {
    background-color: #09111e;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 100px;
    background-color: #0a121f;
    margin-bottom: 160px;
}

footer {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1146px;
    height: 100px;
    margin: 0 auto;
}

.header__menu {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.menu__link {
    min-height: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 40px 20px;
    transition: background-color 0.3s, border-radius 0.3s;
}

.menu__link:hover {
    background-color: $button_bg;
    border-radius: 10px;
    transform: scale(1.5) translateY(10%);
}

.container__content {
    display: flex;
    justify-content: center;
}

.small__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
    margin-bottom: 10px;
}

.big__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 604px;
}

.main__dc {
    margin-bottom: 50px;
    width: 558px;
}

.button__box {
    display: flex;
    &__content_button {
        flex-direction: row;
        gap: 20px;
    }
}

.content_button {
    background: $button_bg;
    border-radius: 5px;
    padding: 15px 30px;
    gap: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: $button_color;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    animation: flip-in-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

button:hover {
    background: rgb(243, 234, 234);
    color: $button_bg;
    box-shadow: inset 0 0 0 3px $button_bg;
}

.content__video {
    margin-left: 88px;
    animation: bounce-top 0.9s both;
}

.logo__bar {
    margin-top: 200px;
    margin-left: 55px;
    margin-right: 55px;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container__logo__bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 144px;
}

.rectange {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
    opacity: 0.1;
    backdrop-filter: blur(100px);
    border-radius: 10px;
    height: 128px;
    background-color: #020A18;
}

.second__page {
    background-color: #020A18;
}

.data__science__block {
    margin-top: 157px;
    margin-bottom: 264px;
    margin-left: 387px;
    margin-right: 387px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ds__left {
    margin-right: 68px;
}

.middle__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.ds_description {
    margin-bottom: 65px;
    width: 460px;
}

.content__grid {
    margin-left: 387px;
    margin-right: 387px;
    width: 1146px;
    display: grid;
    grid-template-columns: 362px 362px 362px;
    gap: 30px;
    justify-content: center;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-width: 362px;
    min-height: 389px;
    background-color: #132035;
}

.grid__header {
    width: 302px;
    height: 62px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.grid__text {
    text-align: center;
    width: 302px;
}

.gr4 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.grid__big__header {
    width: 694px;
    height: 62px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.grid__big__text {
    width: 694px;
    height: 130px;
    text-align: center;
}

.flex__grid {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 157px;
    margin-left: 387px;
    margin-right: 387px;
    padding-bottom: 220px;
}

.about__left {
    width: 548px;
}

.about__header {
    width: 548px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.about_description {
    margin-bottom: 20px;
    width: 460px;
}

footer {
    display: flex;
    justify-content: center;
}

.footer__container {
    display: flex;
    width: 1146px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer__left {
    width: 362px;
}

.footer__center {
    width: 362px;
}

.footer__right {
    width: 362px;
}

.footer__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.footer__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer__italic__text {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    width: 261px;
}

.footer__info {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

.right__image {
    padding-top: 24px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}