    * {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
    }
    
    @mixin txt($ff, $fst, $fw, $fsize, $lh, $clr, $opac) {
        font-family: $ff;
        font-style: $fst;
        font-weight: $fw;
        font-size: $fsize;
        line-height: $lh;
        color: $clr;
        opacity: $opac;
    }
    
    @import "_vars.scss";
    $button_bg: #3A68B8;
    $button_color: #FFFFFF;
    @keyframes flip-in-hor-bottom {
        0% {
            transform: rotateX(80deg);
            opacity: 0;
        }
        100% {
            transform: rotateX(0);
            opacity: 1;
        }
    }
    
    @keyframes bounce-top {
        0% {
            transform: translateY(-45px);
            animation-timing-function: ease-in;
            opacity: 1;
        }
        24% {
            opacity: 1;
        }
        40% {
            transform: translateY(-24px);
            animation-timing-function: ease-in;
        }
        65% {
            transform: translateY(-12px);
            animation-timing-function: ease-in;
        }
        82% {
            transform: translateY(-6px);
            animation-timing-function: ease-in;
        }
        93% {
            transform: translateY(-4px);
            animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
        }
        100% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
            opacity: 1;
        }
    }
    
    @keyframes scale-in-center {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    body {
        background-color: #09111e;
        font-family: 'Open Sans', sans-serif;
    }
    
    header {
        min-height: 100px;
        background-color: #0a121f;
        margin-bottom: 160px;
    }
    
    footer {
        font-family: 'Roboto', sans-serif;
    }
    
    .container {
        max-width: 98%;
        min-height: 100%;
        padding: 0 2%;
        margin: 0 auto;
    }
    
    .header__menu {
        min-height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
    }
    
    .menu__link {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 40px 20px;
        transition: background-color 0.3s, border-radius 0.3s;
    }
    
    .menu__link:hover {
        background-color: $button_bg;
        border-radius: 10px;
        transform: scale(1.5) translateY(10%);
    }
    
    .container__content {
        max-width: 98%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 2%;
    }
    
    .content__left {
        width: 45%;
        margin-right: 128px;
        padding-left: 100px;
    }
    
    .small__header {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        text-transform: uppercase;
        color: #3A68B8;
        margin-bottom: 10px;
    }
    
    .big__header {
        max-width: 604px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 55px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    
    .main__dc {
        margin-bottom: 50px;
        max-width: 558px;
    }
    
    .button__box {
        display: flex;
        flex-wrap: wrap;
        &__content_button {
            flex-direction: row;
            gap: 20px;
        }
    }
    
    .content_button {
        background: $button_bg;
        border-radius: 5px;
        padding: 15px 30px;
        gap: 10px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: $button_color;
        flex: none;
        order: 0;
        flex-grow: 0;
        display: flex;
        transition: background 0.3s, color 0.3s, box-shadow 0.3s;
        animation: flip-in-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    button:hover {
        background: rgb(243, 234, 234);
        color: $button_bg;
        box-shadow: inset 0 0 0 3px $button_bg;
    }
    
    .content__video {
        width: 40%;
        animation: bounce-top 0.9s both;
    }
    
    .logo__bar {
        max-width: 90%;
        margin-top: 200px;
        margin-left: 10%;
        margin-right: 10%;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .container__logo__bar {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 30px 4%;
    }
    
    .top_logo {
        width: 462px;
        display: flex;
        justify-content: space-around;
        gap: 10%;
    }
    
    .low_logo {
        width: 40%;
        display: flex;
        justify-content: space-around;
        gap: 10%;
    }
    
    .rectange {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
        opacity: 0.1;
        backdrop-filter: blur(100px);
        border-radius: 10px;
        height: 128px;
        background-color: #020A18;
    }
    
    .second__page {
        background-color: #020A18;
    }
    
    .data__science__block {
        margin-top: 157px;
        margin-bottom: 264px;
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10%;
    }
    
    .ds__left {
        width: 60%;
        margin-right: 68px;
    }
    
    .ds_img {
        width: 100%;
    }
    
    .ds__right {
        width: 40%;
    }
    
    .middle__header {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    
    .ds_description {
        margin-bottom: 65px;
        max-width: 460px;
    }
    
    .content__grid {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        justify-content: center;
    }
    
    .description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        min-width: 362px;
        min-height: 389px;
        background-color: #132035;
    }
    
    .grid__header {
        max-width: 302px;
        height: 62px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 125%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
    }
    
    .grid__text {
        text-align: center;
        max-width: 302px;
    }
    
    .gr4 {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
    
    .grid__big__header {
        max-width: 694px;
        height: 62px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 125%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
    }
    
    .grid__big__text {
        max-width: 694px;
        height: 130px;
        text-align: center;
    }
    
    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 157px;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 220px;
    }
    
    .about__left {
        max-width: 548px;
        width: 45%;
    }
    
    .about__right {
        max-width: 462px;
        width: 45%;
    }
    
    .about__header {
        width: 100%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    
    .about_description {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .accordion {
        --bs-body-bg: #eceef1;
    }
    
    footer {
        display: flex;
        justify-content: center;
    }
    
    .footer__container {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    .footer__left {
        max-width: 362px;
    }
    
    .footer__center {
        max-width: 362px;
    }
    
    .footer__right {
        max-width: 362px;
    }
    
    .footer__header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-bottom: 33px;
    }
    
    .footer__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .footer__italic__text {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 100;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        opacity: 0.6;
        max-width: 261px;
    }
    
    .footer__info {
        display: flex;
        margin-bottom: 25px;
        align-items: flex-start;
    }
    
    .right__image {
        padding-top: 24px;
        max-width: 100px;
        display: flex;
        justify-content: space-between;
    }
    
    @media (min-width: 376px) and (max-width: 768px) {
        .container__content {
            flex-direction: column;
        }
        .content__left {
            width: 98%;
            padding: 0 2%;
            align-items: center;
            margin-bottom: 128px;
        }
        .button__box {
            align-items: flex-start;
        }
        .content__video {
            display: flex;
            width: 95%;
            margin: 0 5%;
            align-items: center;
        }
        video {
            width: 100%;
        }
        .container__logo__bar {
            width: 98%;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 30px 2%;
        }
        .top_logo {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            gap: 5%;
        }
        .low_logo {
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
        .data__science__block {
            width: 100%;
            margin-left: -8%;
            flex-wrap: wrap;
        }
        .ds__left {
            max-width: 75%;
            margin-left: 24%;
            margin-bottom: 68px;
        }
        .ds__right {
            width: 60%;
            margin-left: 17%;
            min-height: 78px;
        }
        .content__grid {
            grid-template-columns: 364px;
        }
        .gr4,
        .gr5,
        .gr6 {
            display: none;
        }
        .about {
            flex-wrap: wrap;
        }
        .about__left {
            margin-bottom: 64px;
            width: 90%;
        }
        .about__right {
            width: 75%;
        }
        .footer__container {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .footer__left {
            width: 35%;
        }
        .footer__center {
            width: 45%;
        }
        .footer__right {
            width: 100%;
        }
    }
    
    @media (max-width: 375px) {
        .header__menu {
            flex-wrap: nowrap;
            width: 90%;
        }
        .menu__link {
            margin-right: 2%;
            width: 17%;
            font-size: 14px;
            box-sizing: content-box;
            padding: 40px 2%;
        }
        .menu__link:last-child {
            padding-left: 5px;
        }
        .container__content {
            flex-direction: column;
        }
        .content__left {
            width: 98%;
            padding: 0 2%;
            text-align: center;
        }
        .small__header {
            font-size: 14px;
        }
        .big__header {
            font-size: 28px;
        }
        .button__box {
            justify-content: center
        }
        .content__video {
            width: 98%;
            margin: 0 2%;
        }
        video {
            width: 100%;
        }
        .top_logo {
            max-width: 462px;
            min-height: 150px;
            flex-direction: column;
            align-items: center;
        }
        .low_logo {
            max-width: 462px;
            min-height: 150px;
            flex-direction: column;
            align-items: center;
        }
        .data__science__block {
            flex-direction: column;
            margin-left: 10%;
            margin-right: 10%;
        }
        .middle__header {
            font-size: 24px;
        }
        .ds__left {
            width: 100%;
            margin-right: 0;
            margin-bottom: 68px;
        }
        .ds__right {
            display: flex;
            align-items: center;
            flex-direction: column;
            min-width: 115%;
            margin-left: 0%;
            min-height: 78px;
            text-align: center;
        }
        .content__grid {
            grid-template-columns: 364px;
        }
        .gr4,
        .gr5,
        .gr6 {
            display: none;
        }
        .about {
            flex-wrap: wrap;
        }
        .about__left {
            margin-bottom: 64px;
            width: 100%;
            text-align: center;
        }
        .about__right {
            width: 100%;
        }
        .about__header {
            font-size: 24px;
        }
        .footer__container {
            flex-direction: column;
        }
        .footer__center {
            width: 100%;
            order: 1;
            margin-bottom: 32px;
        }
        .footer__left {
            width: 100%;
            order: 2;
        }
        .footer__right {
            width: 100%;
            order: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer__header {
            text-align: center;
        }
        .right__image {
            gap: 24px;
        }
    }