* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #09111e;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 100px;
    background-color: #0a121f;
    margin-bottom: 160px;
}

footer {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 40px 20px;
    height: 22px;
}

.container__content {
    display: flex;
    justify-content: center;
}

.small__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
    margin-bottom: 10px;
}

.big__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 604px;
}

.main__dc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 50px;
    width: 558px;
}

.button__box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content__button {
    background: #3a68b8;
    border-radius: 5px;
    padding: 15px 30px;
    gap: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
}

button:hover {
    background: #f3eaea;
    color: #3a68b8;
    box-shadow: inset 0 0 0 3px #3a68b8;
}

.content__video {
    margin-left: 88px;
}

.logo__bar {
    margin-top: 200px;
    margin-left: 55px;
    margin-right: 55px;
}

.container__logo__bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 144px;
}

.rectange {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
    opacity: 0.1;
    backdrop-filter: blur(100px);
    border-radius: 10px;
    height: 128px;
    background-color: #020A18;
}

.second__page {
    background-color: #020A18;
}

.data__science__block {
    margin-top: 157px;
    margin-bottom: 264px;
    margin-left: 387px;
    margin-right: 387px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ds__left {
    margin-right: 68px;
}

.middle__header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.ds_description {
    width: 460px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 65px;
}

.content__grid {
    margin-left: 387px;
    margin-right: 387px;
    width: 1146px;
    display: grid;
    grid-template-columns: 362px 362px 362px;
    gap: 30px;
    justify-content: center;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-width: 362px;
    min-height: 389px;
    background-color: #132035;
}

.grid__header {
    width: 302px;
    height: 62px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.grid__text {
    width: 302px;
    height: 104px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.gr4 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.grid__big__header {
    width: 694px;
    height: 62px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.grid__big__text {
    width: 694px;
    height: 130px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.flex__grid {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 157px;
    margin-left: 387px;
    margin-right: 387px;
    padding-bottom: 220px;
}

.about__left {
    width: 548px;
}

.about__header {
    width: 548px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.about_description {
    width: 460px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

.footer__container {
    display: flex;
    width: 1146px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer__left {
    width: 362px;
}

.footer__center {
    width: 362px;
}

.footer__right {
    width: 362px;
}

.footer__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.footer__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer__italic__text {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    width: 261px;
}

.footer__info {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

.right__image {
    padding-top: 24px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}